<<!DOCTYPE html>
<html>
<head>
    <title>Workplace Wellbeing AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="dark">

<div class="container">

    <div class="title">
        Workplace Wellbeing AI
    </div>

    <div class="card">

        <a href="/burnout">
            <button class="btn red">🔥 Burnout Risk</button>
        </a>

        <a href="/happiness">
            <button class="btn">😊 Happiness Score</button>
        </a>

    </div>

</div>

</body>
</html>